# =========================
# Compiled binaries
# =========================
*.exe
*.out
*.o
*.obj
*.a
*.so

# Your executable
/output

# =========================
# Build folders
# =========================
build/
bin/

# =========================
# CMake / SFML
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains IDEs
# =========================
.idea/

# =========================
# Linux temporary files
# =========================
*~
*.swp

# =========================
# Logs
# =========================
*.log